<div id="<%= dom_id termin %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Bezeichnung:</strong>
    <%= termin.bezeichnung %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Beginn:</strong>
    <%= termin.beginn %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ende:</strong>
    <%= termin.ende %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Beschreibung:</strong>
    <%= termin.beschreibung %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Veranstaltung:</strong>
    <%= termin.veranstaltung_id %>
  </p>

</div>
