<div id="<%= dom_id fehlzeit %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Student:</strong>
    <%= fehlzeit.student_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Veranstaltung:</strong>
    <%= fehlzeit.veranstaltung_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Datum:</strong>
    <%= fehlzeit.datum %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Begründung:</strong>
    <%= fehlzeit.begründung %>
  </p>

</div>
